[Unit]
Description=Todo API V3
After=syslog.target
After=network.target[Service]
User=ec2-user
Type=simple

[Service]
ExecStart=/usr/bin/java -jar todo-api-v3-0.0.1.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=todo-api-v3
WorkingDirectory=/home/ec2-user/gh/todo-api-v3
Environment="PORT=9052"

[Install]
WantedBy=multi-user.target